.alpha {
    display: flex;   
  }

.bravo {
    display: grid;
}

.alpha {
    width: 97vw;
    height: 20vh;
    padding: 0px;
    border: 2px solid red;
    background-color: darkred;
    margin: 0px 0px 0px;
    z-index: 1;
  }

.bravo {
    width: 97vw;
    height: 60vh;
    padding: 0px;
    border: 2px solid green;
    background-color: darkgreen;
    margin: 0px 0px 0px;
    z-index: 2;
  }

  .sb1 {
    background: whitesmoke;
    border: 0.1875em solid white;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 5em;
    width: 5em;
    z-index: 3;
  }